ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  box-sizing: border-box;
  width: 10rem;
  height: 3rem;
  margin: 0 5px;
  padding: 0;
}

.tabs {
  margin-top: 2rem;
}

li:hover {
  color: white;
  background-color: brown;
}
